@import "tailwindcss";
@import "./components/Curve/style.scss";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-gray-classic-50: var(--gray-classic-50);
  --color-gray-classic-100: var(--gray-classic-100);
  --color-gray-classic-200: var(--gray-classic-200);
  --color-gray-classic-300: var(--gray-classic-300);
  --color-gray-classic-400: var(--gray-classic-400);
  --color-gray-classic-500: var(--gray-classic-500);
  --color-gray-classic-600: var(--gray-classic-600);
  --color-gray-classic-700: var(--gray-classic-700);
  --color-gray-classic-800: var(--gray-classic-800);
  --color-gray-classic-900: var(--gray-classic-900);

  --text-1: var(--text-1-font-size), var(--text-1-line-height);
  --text-2: var(--text-2-font-size), var(--text-2-line-height);
  --text-3: var(--text-3-font-size), var(--text-3-line-height);
  --text-4: var(--text-4-font-size), var(--text-4-line-height);
  --text-5: var(--text-5-font-size), var(--text-5-line-height);
  --text-6: var(--text-6-font-size), var(--text-6-line-height);
  --text-7: var(--text-7-font-size), var(--text-7-line-height);
  --text-8: var(--text-8-font-size), var(--text-8-line-height);

  --breakpoint-first-breack-point: 50.5rem;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --gray-classic-50: #f2f2f2;
  --gray-classic-100: #e6e6e6;
  --gray-classic-200: #cccccc;
  --gray-classic-300: #bfbfbf;
  --gray-classic-400: #b3b3b3;
  --gray-classic-500: #999999;
  --gray-classic-600: #808080;
  --gray-classic-700: #666666;
  --gray-classic-800: #4d4d4d;
  --gray-classic-900: #333333;

  --text-8-font-size: 1.75rem;
  --text-8-line-height: 2.25rem;
  --text-7-font-size: 1.5rem;
  --text-7-line-height: 2rem;
  --text-6-font-size: 1.25rem;
  --text-6-line-height: 1.75rem;
  --text-5-font-size: 1.125rem;
  --text-5-line-height: 1.5rem;
  --text-4-font-size: 1rem;
  --text-4-line-height: 1.25rem;
  --text-3-font-size: 0.875rem;
  --text-3-line-height: 1rem;
  --text-2-font-size: 0.75rem;
  --text-2-line-height: 0.875rem;
  --text-1-font-size: 0.625rem;
  --text-1-line-height: 0.75rem;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.text-8 {
  font-size: var(--text-8-font-size);
  line-height: var(--text-8-line-height);
}

.text-7 {
  font-size: var(--text-7-font-size);
  line-height: var(--text-7-line-height);
}

.text-6 {
  font-size: var(--text-6-font-size);
  line-height: var(--text-6-line-height);
}

.text-5 {
  font-size: var(--text-5-font-size);
  line-height: var(--text-5-line-height);
}

.text-4 {
  font-size: var(--text-4-font-size);
  line-height: var(--text-4-line-height);
}

.text-3 {
  font-size: var(--text-3-font-size);
  line-height: var(--text-3-line-height);
}

.text-2 {
  font-size: var(--text-2-font-size);
  line-height: var(--text-2-line-height);
}

.text-1 {
  font-size: var(--text-1-font-size);
  line-height: var(--text-1-line-height);
}

.container {
  @apply first-breack-point:max-w-[776px] mx-auto flex max-w-[420px] flex-col gap-10 px-4 pb-24;
}

/* Apply slide-up-out animation only if html element does NOT have 'custom-transition-active' class */
html:not(.custom-transition-active) ::view-transition-old(home) {
  animation: slide-up-out 1s ease-in-out;
}
::view-transition-new(home) {
  animation: slide-up-in 1s ease-in-out;
}
@keyframes slide-up-out {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-100%);
    opacity: 0;
  }
}
@keyframes slide-up-in {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
